## **Prueba: SQL**
## Francisca Gálvez Lynch - G56

**Parte 1**: Registro de los archivos en la base de datos. (3 Puntos)
- Generar una nueva base de datos con la siguiente nomenclatura: apellido_nombre.
- Importar en tablas los archivos train_cupid.csv y test_cupid.csv a un motor Postgres, implementando solo la librería *psycopg2*. Las tablas deben contener los nombres de las columnas y el total de los registros presente en cada archivo.

In [178]:
import psycopg2
import csv
import pandas as pd

In [213]:
# Nos conectamos a la base de datos galvez_francisca creada en PostgreSQL
conexion = psycopg2.connect("dbname=galvez_francisca user=postgres password=123")

In [214]:
# Creamos el cursor con el objeto conexion
cur = conexion.cursor();

In [37]:
# Ejecutamos DATA TRAIN
cur.execute("""CREATE TABLE train_cupid(age INT, height FLOAT, virgo INT, taurus INT, scorpio INT, pisces INT, libra INT, leo INT, gemini INT, aries INT, aquarius INT, cancer INT, sagittarius INT, asian INT, hispanic_latin INT, black INT, indian INT, pacific_islander INT, native_american INT, middle_eastern INT, colorado INT, new_york INT, oregon INT, arizona INT, hawaii INT, montana INT, wisconsin INT, virginia INT, spain INT, nevada INT, illinois INT, vietnam INT, ireland INT, louisiana INT, michigan INT, texas INT, united_kingdom INT, massachusetts INT, north_carolina INT, idaho INT, mississippi INT, new_jersey INT, florida INT, minnesota INT, georgia INT, utah INT, washington INT, west_virginia INT, connecticut INT, tennessee INT, rhode_island INT, district_of_columbia INT, canada INT, missouri INT, germany INT, pennsylvania INT, netherlands INT, switzerland INT, mexico INT, ohio INT, agnosticism INT, atheism INT, catholicism INT, buddhism INT, judaism INT, hinduism INT, islam INT, pro_dogs FLOAT, pro_cats FLOAT, spanish INT, chinese INT, french INT, german INT, single INT, seeing_someone INT, available INT, employed INT, income_between_25_50 INT,	income_between_50_75 INT, income_over_75 INT, drugs_often INT, drugs_sometimes INT, drinks_not_at_all INT, drinks_often	INT, drinks_rarely INT, drinks_socially	INT, drinks_very_often INT, orientation_gay INT, orientation_straight INT, sex_m INT, smokes_sometimes INT, smokes_trying_to_quit INT, smokes_when_drinking INT, smokes_yes INT, body_type_overweight INT, body_type_regular INT, education_high_school INT, education_undergrad_university INT);""")

# Confirmar
conexion.commit()

In [38]:
# Ejecutamos DATA TEST
cur.execute("""CREATE TABLE test_cupid(age INT, height FLOAT, virgo INT, taurus INT, scorpio INT, pisces INT, libra INT, leo INT, gemini INT, aries INT, aquarius INT, cancer INT, sagittarius INT, asian INT, hispanic_latin INT, black INT, indian INT, pacific_islander INT, native_american INT, middle_eastern INT, colorado INT, new_york INT, oregon INT, arizona INT, hawaii INT, montana INT, wisconsin INT, virginia INT, spain INT, nevada INT, illinois INT, vietnam INT, ireland INT, louisiana INT, michigan INT, texas INT, united_kingdom INT, massachusetts INT, north_carolina INT, idaho INT, mississippi INT, new_jersey INT, florida INT, minnesota INT, georgia INT, utah INT, washington INT, west_virginia INT, connecticut INT, tennessee INT, rhode_island INT, district_of_columbia INT, canada INT, missouri INT, germany INT, pennsylvania INT, netherlands INT, switzerland INT, mexico INT, ohio INT, agnosticism INT, atheism INT, catholicism INT, buddhism INT, judaism INT, hinduism INT, islam INT, pro_dogs FLOAT, pro_cats FLOAT, spanish INT, chinese INT, french INT, german INT, single INT, seeing_someone INT, available INT, employed INT, income_between_25_50 INT,	income_between_50_75 INT, income_over_75 INT, drugs_often INT, drugs_sometimes INT, drinks_not_at_all INT, drinks_often	INT, drinks_rarely INT, drinks_socially	INT, drinks_very_often INT, orientation_gay INT, orientation_straight INT, sex_m INT, smokes_sometimes INT, smokes_trying_to_quit INT, smokes_when_drinking INT, smokes_yes INT, body_type_overweight INT, body_type_regular INT, education_high_school INT, education_undergrad_university INT);""")
conexion.commit()

In [41]:
# Llevar los datos a la BDD DATA TRAIN
with open('train_cupid.csv','r') as file:
    reader = csv.reader(file)
    next(reader)

    for row in reader:
        cur.execute("INSERT INTO train_cupid VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)", row)
        conexion.commit()

In [42]:
# Llevar los datos a la BDD DATA TEST
with open('test_cupid.csv','r') as file:
    reader = csv.reader(file)
    next(reader)

    for row in reader:
        cur.execute("INSERT INTO test_cupid VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)", row)
        conexion.commit()

**Parte 2**: Entrenamiento de modelos (3.5 Puntos)
- Ingestar la tabla de training mediante psycopg2 para el posterior entrenamiento del modelo.
- Entrenar los siguientes modelos (sin necesidad de ajustar por hiper parámetros):
    - GradientBoostingClassifier, AdaBoostClassifer, RandomForestClassifier, SVC, DecisionTreeClassifier, LogisticRegression, BernoulliNB.
- Existen tres vectores objetivos a evaluar: single, seeing someone y available.
- Serializar el objeto y preservarlo por cada combinación de modelo entrenado y vector objetivo.

In [181]:
# Import modelos
from sklearn.ensemble import GradientBoostingClassifier, AdaBoostClassifier, RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB

In [6]:
# Consulta desde Postgres
cur.execute("SELECT * FROM train_cupid")
result = cur.fetchall()

# Dataframe
df_train = pd.DataFrame(list(result))
df_train.columns = ['age', 'height', 'virgo', 'taurus', 'scorpio', 'pisces', 'libra', 'leo', 'gemini', 'aries', 'aquarius', 'cancer', 'sagittarius', 'asian', 'hispanic_latin', 'black', 'indian', 'pacific_islander', 'native_american', 'middle_eastern', 'colorado', 'new_york', 'oregon', 'arizona', 'hawaii', 'montana', 'wisconsin', 'virginia', 'spain', 'nevada', 'illinois', 'vietnam', 'ireland', 'louisiana', 'michigan', 'texas', 'united_kingdom', 'massachusetts', 'north_carolina', 'idaho', 'mississippi', 'new_jersey', 'florida', 'minnesota', 'georgia', 'utah', 'washington', 'west_virginia', 'connecticut', 'tennessee', 'rhode_island', 'district_of_columbia', 'canada', 'missouri', 'germany', 'pennsylvania', 'netherlands', 'switzerland', 'mexico', 'ohio', 'agnosticism', 'atheism', 'catholicism', 'buddhism', 'judaism', 'hinduism', 'islam', 'pro_dogs', 'pro_cats', 'spanish', 'chinese', 'french', 'german', 'single', 'seeing_someone', 'available', 'employed', 'income_between_25_50', 'income_between_50_75', 'income_over_75', 'drugs_often', 'drugs_sometimes', 'drinks_not_at_all', 'drinks_often', 'drinks_rarely', 'drinks_socially', 'drinks_very_often', 'orientation_gay', 'orientation_straight', 'sex_m', 'smokes_sometimes', 'smokes_trying_to_quit', 'smokes_when_drinking', 'smokes_yes', 'body_type_overweight', 'body_type_regular', 'education_high_school', 'education_undergrad_university']

In [7]:
# Consulta desde Postgres
cur.execute("SELECT * FROM test_cupid")
result = cur.fetchall()

# Dataframe
df_test = pd.DataFrame(list(result))
df_test.columns = ['age', 'height', 'virgo', 'taurus', 'scorpio', 'pisces', 'libra', 'leo', 'gemini', 'aries', 'aquarius', 'cancer', 'sagittarius', 'asian', 'hispanic_latin', 'black', 'indian', 'pacific_islander', 'native_american', 'middle_eastern', 'colorado', 'new_york', 'oregon', 'arizona', 'hawaii', 'montana', 'wisconsin', 'virginia', 'spain', 'nevada', 'illinois', 'vietnam', 'ireland', 'louisiana', 'michigan', 'texas', 'united_kingdom', 'massachusetts', 'north_carolina', 'idaho', 'mississippi', 'new_jersey', 'florida', 'minnesota', 'georgia', 'utah', 'washington', 'west_virginia', 'connecticut', 'tennessee', 'rhode_island', 'district_of_columbia', 'canada', 'missouri', 'germany', 'pennsylvania', 'netherlands', 'switzerland', 'mexico', 'ohio', 'agnosticism', 'atheism', 'catholicism', 'buddhism', 'judaism', 'hinduism', 'islam', 'pro_dogs', 'pro_cats', 'spanish', 'chinese', 'french', 'german', 'single', 'seeing_someone', 'available', 'employed', 'income_between_25_50', 'income_between_50_75', 'income_over_75', 'drugs_often', 'drugs_sometimes', 'drinks_not_at_all', 'drinks_often', 'drinks_rarely', 'drinks_socially', 'drinks_very_often', 'orientation_gay', 'orientation_straight', 'sex_m', 'smokes_sometimes', 'smokes_trying_to_quit', 'smokes_when_drinking', 'smokes_yes', 'body_type_overweight', 'body_type_regular', 'education_high_school', 'education_undergrad_university']

In [182]:
df_x = df_train.copy()
targets = ['single','seeing_someone','available']

# Pop de los targets
for col_name in df_train.columns:
    if col_name in targets:
        df_x.pop(col_name)

In [183]:
df_x_test = df_test.copy()
targets = ['single','seeing_someone','available']

# Pop de los targets
for col_name in df_test.columns:
    if col_name in targets:
        df_x_test.pop(col_name)

### Función para generar modelos

In [184]:
def fit_modelos(x_train, y_train):
    # Gradient Boosting Classifier
    gbc = GradientBoostingClassifier(random_state=89)
    gbc.fit(x_train, y_train)
    # Adaboost Classifier
    abc = AdaBoostClassifier(random_state=89)
    abc.fit(x_train, y_train)
    # Random Forest
    rfc = RandomForestClassifier(random_state=89)
    rfc.fit(x_train, y_train)
    # SVC
    # svc = SVC(random_state=89)
    # svc.fit(x_train, y_train)
    # DecisionTree
    dtc = DecisionTreeClassifier(random_state=89)
    dtc.fit(x_train, y_train)
    # Logistic Regretion
    lrm = LogisticRegression(random_state=89)
    lrm.fit(x_train, y_train)
    # Bernoulli
    bm = BernoulliNB()
    bm.fit(x_train, y_train)

    return gbc, abc, rfc, dtc, lrm, bm

### Modelos target SINGLE

In [11]:
gbc_single, abc_single, rfc_single, dtc_single, lrm_single, bm_single = fit_modelos(df_x, df_train['single'])

/Users/ProfeFran/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [12]:
models_single = {'gbc_single': gbc_single,
                 'abc_single':abc_single,
                 'rfc_single':rfc_single,
                 'dtc_single':dtc_single,
                 'lrm_single':lrm_single,
                 'bm_single':bm_single}

### Modelos target SEEING_SOMEONE

In [13]:
gbc_someone, abc_someone, rfc_someone, dtc_someone, lrm_someone, bm_someone = fit_modelos(df_x, df_train['seeing_someone'])

/Users/ProfeFran/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [155]:
models_someone = {'gbc_someone': gbc_someone,
                 'abc_someone':abc_someone,
                 'rfc_someone':rfc_someone,
                 'dtc_someone':dtc_someone,
                 'lrm_someone':lrm_someone,
                 'bm_someone':bm_someone}

### Modelos target AVAILABLE

In [15]:
gbc_available, abc_available, rfc_available, dtc_available, lrm_available, bm_available = fit_modelos(df_x, df_train['available'])

/Users/ProfeFran/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [16]:
models_available = {'gbc_available': gbc_available,
                 'abc_available':abc_available,
                 'rfc_available':rfc_available,
                 'dtc_available':dtc_available,
                 'lrmavailable':lrm_available,
                 'bm_available':bm_available}

### Serializar modelos

In [27]:
import pickle

for name, model in models_single.items():
    pickle.dump({model}, open(f'pickles/model_{name}.sav', 'wb'))

In [28]:
for name, model in models_someone.items():
    pickle.dump({model}, open(f'pickles/model_{name}.sav', 'wb'))

In [29]:
for name, model in models_available.items():
    pickle.dump({model}, open(f'pickles/model_{name}.sav', 'wb'))

**Parte 3**: Exportación de predicciones (3.5 Puntos)
- Ingestar la tabla de testing mediante psycopg2 para la posterior predicción del modelo.
- En base a los objetos serializados, predecir y evaluar cuatro queries específicas:
    - Query 1: 'atheism', 'asian', 'employed', 'pro_dogs', 'chinese'.
    - Query 2: 'income_over_75', 'french', 'german','orientation_straight', 'new york'.
    - Query 3: 'education_undergrad_university', 'body_type_regular', 'pro_dogs','employed'.
    - Query 4: 'taurus', 'indian', 'washington', 'income_between_50_75', 'hinduism'.
- Cada una de estas queries específicas debe ser registrada en la base de datos.
- La base de datos creada debe contener las tablas:
    - 2 que representan a training y testing.
    - 84 que representan a cada una de las combinaciones entre modelo, vector y query específica.

In [17]:
def data_predicciones(modelos, data_test):
    df_hat = pd.DataFrame()
    for name, modelo in modelos.items():
        hat = modelo.predict(data_test)
        df_hat[f'{name}_hat'] = hat
    
    return df_hat

### Predicciones

In [161]:
hats_single = data_predicciones(models_single, df_x_test)
hats_someone = data_predicciones(models_someone, df_x_test)
hats_available = data_predicciones(models_available, df_x_test)

In [162]:
hats_someone

,gbc_someone_hat,abc_someone_hat,rfc_someone_hat,dtc_someone_hat,lrm_someone_hat,bm_someone_hat
0,0,0,0,0,0,0
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,0,0,0,0,0
4,0,0,0,0,0,0
...,...,...,...,...,...,...
19938,0,0,0,0,0,0
19939,0,0,0,0,0,0
19940,0,0,0,0,0,0
19941,0,0,0,0,0,0
19942,0,0,0,0,0,0

### Crear tablas de predicciones

In [60]:
# Ejecutamos HATS
cur.execute("""CREATE TABLE hats_single(gbc_single_hat INT, abc_single_hat INT, rfc_single_hat INT, dtc_single_hat INT, lrm_single_hat INT, bm_single_hat INT);""")
conexion.commit()

In [27]:
cur.execute("""CREATE TABLE hats_someone(gbc_someone_hat INT, abc_someone_hat INT, rfc_someone_hat INT, dtc_someone_hat INT, lrm_someone_hat INT, bm_someone_hat INT);""")
conexion.commit()

In [28]:
cur.execute("""CREATE TABLE hats_available(gbc_available_hat INT, abc_available_hat INT, rfc_available_hat INT, dtc_available_hat INT, lrm_available_hat INT, bm_available_hat INT);""")
conexion.commit()

In [210]:
def insertar_bdd(hats, nombre_tabla):
    for index, row in hats.iterrows():
        lista = []
        cadena = ''
        for i in row.values:
            lista.append(int(i))
        for i in range(len(lista)):
            cadena = cadena+'%s,'
        cadena = cadena[:len(cadena)-1]
        cur.execute(f"INSERT INTO {nombre_tabla} VALUES ({cadena})", lista)
        conexion.commit()

### Guardar las predicciones

In [29]:
insertar_bdd(hats_single, 'hats_single')
insertar_bdd(hats_someone, 'hats_someone')
insertar_bdd(hats_available, 'hats_available')

### Query 1: 'atheism', 'asian', 'employed', 'pro_dogs', 'chinese'

In [163]:
# Consulta desde Postgres
cur.execute("SELECT atheism, asian, employed, pro_dogs, chinese FROM test_cupid")
result = cur.fetchall()

# Dataframe
df_query1 = pd.DataFrame(list(result))
df_query1.columns = ['atheism','asian','employed','pro_dogs','chinese']

### Agregar predicciones por modelos

In [164]:
def insertar_query_bdd(df_, df_hats, cadena):
    df_query = pd.DataFrame()
    
    for i in enumerate(df_hats.columns):

        attr = ''
        for word in df_query1.columns:
            if word in ['pro_dogs', 'pro_cats','height']:
                attr = attr+word+' FLOAT,'
            else:
                attr = attr+word+' INT,'

        cadena_t = cadena+'_'+i[1]
        cadena_temp = """CREATE TABLE {}({}{} INT);""".format(cadena_t, attr, i[1])
        df_query = df_.copy()
        df_query[i[1]] = df_hats[i[1]]
        cur.execute(cadena_temp)
        conexion.commit()
    
        insertar_bdd(df_query, cadena_t)

In [165]:
insertar_query_bdd(df_query1, hats_single, 'query1')
insertar_query_bdd(df_query1, hats_someone, 'query1')
insertar_query_bdd(df_query1, hats_available, 'query1')

### Query 2: 'income_over_75', 'french', 'german','orientation_straight', 'new york'

In [166]:
# Consulta desde Postgres
cur.execute("SELECT income_over_75, french, german, orientation_straight, new_york FROM test_cupid")
result = cur.fetchall()

# Dataframe
df_query2 = pd.DataFrame(list(result))
df_query2.columns = ['income_over_75','french','german','orientation_straight','new_york']

In [168]:
insertar_query_bdd(df_query2, hats_single, 'query2')
insertar_query_bdd(df_query2, hats_someone, 'query2')
insertar_query_bdd(df_query2, hats_available, 'query2')

### Query 3: 'education_undergrad_university', 'body_type_regular', 'pro_dogs','employed'.

In [194]:
# Consulta desde Postgres
cur.execute("SELECT education_undergrad_university, body_type_regular, pro_dogs, employed FROM test_cupid")
result = cur.fetchall()

# Dataframe
df_query3 = pd.DataFrame(list(result))
df_query3.columns = ['education_undergrad_university','body_type_regular','pro_dogs','employed']

In [215]:
insertar_query_bdd(df_query3, hats_single, 'query3')
insertar_query_bdd(df_query3, hats_someone, 'query3')
insertar_query_bdd(df_query3, hats_available, 'query3')

### Query 4: 'taurus', 'indian', 'washington', 'income_between_50_75', 'hinduism'

In [216]:
# Consulta desde Postgres
cur.execute("SELECT taurus, indian, washington, income_between_50_75, hinduism FROM test_cupid")
result = cur.fetchall()

# Dataframe
df_query4 = pd.DataFrame(list(result))
df_query4.columns = ['taurus','indian','washington','income_between_50_75','hinduism']

In [217]:
insertar_query_bdd(df_query4, hats_single, 'query4')
insertar_query_bdd(df_query4, hats_someone, 'query4')
insertar_query_bdd(df_query4, hats_available, 'query4')